// out: ../css/styles.css, sourcemap: false, compress: true

@font-face {
  font-family: "Juno";
  src: url("../../juno-console/lib/assets/font/font.ttf");
  font-style: normal;
  -webkit-font-smoothing: none;
}
