tic80 {
  color0: #1a1c2c;
  color1: #572956;
  color2: #b14156;
  color3: #ee7b58;
  color4: #ffd079;
  color5: #a0f072;
  color6: #38b86e;
  color7: #276e7b;
  color8: #29366f;
  color9: #405bd0;
  color10: #4fa4f7;
  color11: #86ecf8;
  color12: #f4f4f4;
  color13: #93b6c1;
  color14: #557185;
  color15: #324056;
}
