tic80 {
  color0: #000000;
  color1: #1D2B53;
  color2: #7E2553;
  color3: #83769C;
  color4: #AB5236;
  color5: #008751;
  color6: #FF004D;
  color7: #5F574F;
  color8: #FF77A8;
  color9: #FFA300;
  color10: #C2C3C7;
  color11: #00E436;
  color12: #FFCCAA;
  color13: #29ADFF;
  color14: #FFEC27;
  color15: #FFF1E8;
}
